body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the height to 100% of the viewport height */
  
  }
.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    gap:8px;
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 20px 0;
    gap:8px;
}
.button{
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:10px;
    min-height:15px; 
    min-width: 30px;
    cursor: pointer;
} 
.button:hover {
    background-color:#002ead;
    transition: 0.7s;
}
.output-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#output{
    background-color: rgba(255, 255, 255, 0.5); 
    width: 300px;
    height: 40px;
    padding-top: 10px;
    border-radius: 10px;
    text-align: center;
}

.morning{
    height: 100vh; /* Set the height to 100% of the viewport height */
    transition: 1000ms linear;
    background: linear-gradient(to right, #ECCF0F, #A06F01); /* Replace with your desired colors */
}
.night{
    background: linear-gradient(to right, #195682, #010A55); 
    color: white;
}